.container {
  display: flex;
  flex-flow: row wrap;
}

.menu_button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: .5rem;
}

.menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.menu_hidden {
  display: none;
}

.menu_card {
  position: absolute;
  z-index: 1001;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  padding: 2rem;

  display: flex;
  flex-flow: column wrap;
  gap: 2rem;

  border-top-left-radius: var(--border-radius-primary);
  border-top-right-radius: var(--border-radius-primary);
}

.menu_card_top {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.menu_card_options {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}

.menu_card_actions {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.menu_card_action_button,
.option_button {
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-primary);
  border: .2rem solid var(--background-color-secondary);
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

.option_button_count {
  background-color: var(--red);
  padding: .5rem 1rem;
  border-radius: var(--border-radius-primary);
  color: var(--white);
}

.menu_card_action_button {
  background-color: var(--green);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: .2rem solid var(--green);
  background-color: var(--green);
}

.menu_card_action_button.secondary {
  color: var(--red);
  background-color: transparent;
  border-color: var(--red);
}

