:root {

  --red: #DB4437;
  --green: #0F9D58;
  --blue: #4285F4;
  --yellow: #F4B400;

  --red: hsl(0, 50%, 60%);
  --green: hsl(150, 40%, 60%);
  --blue: hsl(210, 50%, 60%);
  --yellow: hsl(45, 60%, 60%);

  --white: #FFF;
  --black: #000;

  --color-primary: ;
  
  --background-color-primary: #000;
  --background-color-secondary: #3e3e3e;
  --background-color-terciary: #4f4e4e;
  
  --border-radius-primary: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem; /* 16 pixels */
  background-color: var(--black);
  color: var(--white);
}

h1 {
  font-size: 2.8rem; /* 28 pixels */
  color: var(--white);
}

h2 {
  color: var(--white);
  font-size: 2.4rem; /* 24 pixels */
}

h3 {
  color: var(--white);
  font-size: 2.0rem; /* 20 pixels */
}

h4 {
  color: var(--white);
  font-size: 1.8rem; /* 18 pixels */
}

h5 {
  color: var(--white);
  font-size: 1.6rem; /* 16 pixels */
}

h6 {
  color: var(--white);
  font-size: 1.4rem; /* 14 pixels */
}

p,
select,
option,
button,
label,
input
{
  color: var(--white);
  font-size: 1.6rem; /* 16 pixels */
}

input {
  background-color: var(--background-color-secondary);
  border: 0;
  border-bottom: .2rem solid var(--background-color-secondary);
}


span {
  color: var(--white);
  font-size: inherit;
}

.icon_button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 0;
  padding: .5rem 1rem;
  border-radius: 1rem;

  font-size: 2rem;
  background-color: var(--background-color-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.icon_button_primary {
  background-color: var(--background-color-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}