:root {

  --red: #DB4437;
  --green: #0F9D58;
  --blue: #4285F4;
  --yellow: #F4B400;

  --red: hsl(0, 50%, 60%);
  --green: hsl(150, 40%, 60%);
  --blue: hsl(210, 50%, 60%);
  --yellow: hsl(45, 60%, 60%);

  --white: #fff;
  --black: #000;
  
  --color-primary: #000;

  --background-color-primary: #fff;
  --background-color-secondary: #ededed;
  --background-color-terciary: #4f4e4e;
  
  --border-radius-primary: 1rem;
  --box-shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem; /* 16 pixels */
  background-color: var(--background-color-secondary);
  color: var(--color-primary);
}

h1 {
  font-size: 2.8rem; /* 28 pixels */
}

h2 {
  font-size: 2.4rem; /* 24 pixels */
}

h3 {
  font-size: 2.0rem; /* 20 pixels */
}

h4 {
  font-size: 1.8rem; /* 18 pixels */
}

h5 {
  font-size: 1.6rem; /* 16 pixels */
}

h6 {
  font-size: 1.4rem; /* 14 pixels */
}

p,
select,
option,
button,
label,
input
{
  font-size: 1.6rem; /* 16 pixels */
}

input {
  background-color: var(--background-color-secondary);
  border: 0;
  border-bottom: .2rem solid var(--background-color-secondary);
}


span {
  color: var(--color-primary);
  font-size: inherit;
}

.icon_button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 0;
  padding: .5rem 1rem;
  border-radius: 1rem;

  background-color: var(--background-color-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
  transition: all .2s;
  font-size: 2rem;
  color: black;
}

.icon_button_primary {
  background-color: var(--background-color-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button,
.button--primary {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: var(--border-radius-primary);
  background-color: var(--blue);
  border: .2rem solid var(--background-color-secondary);
}

.card {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  box-shadow: var(--box-shadow-primary);
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem;
  border-radius: var(--border-radius-primary);
}