/* PREVIEW */

.card_top {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.card_top_left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.card_label,
.card_amount {
  transition: all .2s;
}

.card_label_open {
  font-weight: bold;
  font-size: 2rem;
}

.card_amount {
  font-weight: bold;
  font-size: 2.4rem;
}

.card_amount_open {
  display: none;
}

.card_button {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  font-weight: normal;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

.card_button_open {
  font-weight: bold;
}

.card_button_icon {
  transition: all .2s;
  font-size: 2rem;
  color: black;
}

.card_button_icon_open {
  transform: rotate(-180deg);
}

.card_bottom_text {
  font-size: 2rem;
  font-weight: bold;
}

/* FORM */
.form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0 0 0;
}

.form_hidden {
  display: none;
}

.label {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.input {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  border: 0;
  border-bottom: .2rem solid #eee;
  padding: 2rem;
  
}

.form_actions {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}

.form_button {
  width: 100%;
}