.summary {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.summary_title {
  font-weight: normal;
  transition: all .2s;
}

.summary_title_open {
  font-weight: bold;
}

.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 2rem;
  gap: 1rem;
  border: 0;
  background-color: transparent;
}

.target_section_button_open {
  font-weight: bold;
}

.carrot {
  transform: rotate(0deg);
  transition: all .2s;
}

.carrot_open {
  transform: rotate(-180deg);
}

.details {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0;
  border-radius: var(--border-radius-primary);
}

.details_hidden {
  display: none;
}

.edit_button_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.edit_button_icon {
  font-size: 2rem;
  background-color: transparent;
  border: 0;
}

.target_row {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
  border-top: .2rem solid var(--background-color-secondary);
}

.target_row_title {
  width: 100%;
}

.target_row_bottom {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.target_row_percent_label {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue);
}

.target_row_amount_label {
  font-size: 2rem;
  font-weight: bold;
  color: var(--green);
}

.range {
  width: 100%;
}