.expense_item {
  padding: 1rem 0;
  border-top: .2rem solid var(--black);
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.card {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card_name {
  width: 100%;
  text-align: left;
}

.card_top {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.card_bottom {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.edit_icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 2rem;
  border: 0;
  background-color: var(--background-color-secondary);
  padding: .5rem 1rem;
  border-radius: 1rem;
}

.editing_container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.editing_container_top {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.editing_label {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.editing_input {
  padding: 2rem;
  border-bottom: .2rem solid var(--white);

}

.bottom_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
}