.budget_maker {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 4rem;
  gap: 2rem;
}

.actions {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}