.budget_maker {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem;
  gap: 2rem;
}

.categories_container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
}

.action_container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}