.budget_maker {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem;
  gap: 2rem;
}

.categories_container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
}

.action_container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.create_expense_button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: .2rem solid black;
  font-weight: bold;
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--blue);
}

.income_form {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.income_label {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.income_input {
  padding: 2rem;
  text-align: center;
}

.income_submit_button {
  padding: 1rem 4rem;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 2rem;
  border: .2rem solid var(--blue);
}